@media screen and (min-width: 768px) and (max-width: 1280px){

/*-------- CAROUSEL ---------- */

.navbar-index {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #17458f;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.blur h2{
  font-weight: lighter;
  font-size: 100px;
  margin: 0;
  color: #fff;
  margin: 6.5% 0 0 24%;
}

.centro-medico h2{
  color: #121212;
  font-weight: bolder;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: -1px;
}

.centro-medico p{
  font-size: 16px;
  font-weight: 100;
  line-height: 1.9;
  color: #121212;
  margin: 0px 80px 40px 90px;
  text-align: center;
}  
#logo {
  display: inline-block;
  height: 0px;
  line-height: 120px;
  float: left;
}

#logo img{
  width: 40%;
}

header nav {
  display: inline-block;
  float: right; 
}

header nav a {
  line-height: 120px;
  margin-left: 10px;
  margin-right: 0%;
  padding-bottom: 10px;
  text-decoration: none;
  position: relative;
  color: #e6eaf2;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}

header nav a:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 0%;
  color: #F7A81B;
  border-bottom: 2px solid #F7A81B;
  transition: 0.4s;
}

header nav a:hover:after {
  width: 100%;
  color: #F7A81B;
}

header.smaller {
  height: 85px; 
}

header.smaller #logo {
  width: 80%;
  line-height: 70px;
  font-size: 30px; 
}

header.smaller nav a {
  line-height: 85px; 
}

a:focus, a:hover {
  text-decoration:none;
  color: #F7A81B;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; 
}

.carousel-caption{
  margin-bottom:0px;
  text-align: center;
  right: 0%;
  left: 0%;
  padding-bottom: 100px; 
}  

.carousel-caption h2{
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fff;  
  text-shadow:none;
  box-shadow: none;
}

.text-cons p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3em;
  color: #121212;
  margin: 0px 25px 20px 25px;
  text-align: left;
}

.carousel-caption h1{
  font-weight: lighter;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
    
}

/*-------- NOTICIAS RECIENTES---------- */

.recientes{
  width: 70%;
  height: 750px;
  background-color: red;
  float: left;
}

.prox{
  width: 30%;
  height: 750px;
  background-color: blue;
  float: right;
}

/*odd*/
.elemento:nth-child(odd) .text1{
  width: 50%;
  height: 300px;
  background-color: #fff;
  float: left;

}

.elemento:nth-child(odd) .text1 h1{
  margin: 0;
  font-size: 15px;
  padding:  40px 40px 0px 40px;
  font-weight: normal;
  text-transform: uppercase;
}

.elemento:nth-child(odd) .text1 h2{
  margin: 15px 0 0px 0;
  font-size: 20px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 0px 0 40px;
  font-weight: bold;

}

.elemento:nth-child(odd) .text1 p{
  margin: 0;
  font-size: 15px;
  padding:  10px 40px 0px 40px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.elemento:nth-child(odd) .img1{
  width: 50%;
  background-color: green;
  float: right;
  background-size: cover;
  height: 300px;
}
/*fin odd*/
/*even*/

.elemento:nth-child(even) .text1 h2{
  margin: 15px 0 0px 0;
  font-size: 20px;
  color: #121212;
  text-transform: uppercase;
  padding:  0 0px 0 40px;
  font-weight: bold;
}

.elemento:nth-child(even) .text1 p{
  margin: 0;
  font-size: 15px;
  padding:  10px 40px 0px 40px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.elemento:nth-child(even) .text1 h1{
  margin: 0;
  font-size: 15px;
  padding:  40px 50px 0px 40px;
  font-weight: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.elemento:nth-child(even) .img1{
  width: 50%;
  height: 300px;
  background-color: yellow;
  float: left;
}
.elemento:nth-child(even) .img1 img{
  background-size: cover;
  width: 100%;
}

.elemento:nth-child(even) .text1{
  width: 50%;
  height: 300px;
  background-color: #f2edea;
  float: right;
}
/*fin even*/

/*-------- PROXIMAS NOTICIAS---------- */

.titulo-prox{
  height: 100px;
  background-color: #17458f;
}

.cont-prox-1{
  height: 216.6px;
  background-color: #fff;
  border-bottom: 1px solid #f2edea;
}


.cont-prox-2{
  height: 216.6px;
  background-color: #fff;
  border-bottom: 1px solid #f2edea;
}

.cont-prox-3{
  height: 216.6px;
  background-color:  #fff;
}

.titulo-prox h2{
  margin: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bolder;
  padding:  40px 35px 0 35px;
}

.cont-prox-1 h2{
  margin: 0;
  font-size: 18px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;

}
.cont-prox-1 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.cont-prox-1 hr{
  width: 100%;
  height: 2px;
  background-color: red;
  margin:  0px 35px 0px 35px;
  
}

.cont-prox-1 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.cont-prox-2 h2{
  margin: 0;
  font-size: 18px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;
}

.cont-prox-2 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.cont-prox-2 hr{
  width: 100%;
  height: 2px;
  background-color: red;
  margin:  0px 35px 0px 35px;
}

.cont-prox-2 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.cont-prox-3 h2{
  margin: 0;
  font-size: 18px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;
}

.cont-prox-3 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.cont-prox-3 hr{
  width: 100%;
  height: 2px;
  background-color: red;
  margin:  0px 35px 0px 35px;  
}

.cont-prox-3 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
}
/*----- CENTRO MEDICO --------*/

.padding-med{
  padding: 5px;
}

/*-------- FOOTER ---------- */

#footer{
  background-color: #1a2732;
  padding: 40px 0 0px 0;
}

#footer hr{
  background-color: #3d4b4f;
  height: 1px;
  width: 90%;
  border-top:none;
}

.icon{
  background-color: #1a2732;
  width: 25%;
  color: #1a2732;
  padding-bottom: 10px;
}

.text-footer{
  font-size: 20px;
  text-transform: uppercase;
}

.text-footer h2{
  font-size: 15px;
  text-align: center;
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  color: #515e61;
  padding: 15px 0 15px 0;
}

.icon i{
  display: inline-block;
  font-size: 50px;
  margin: 0 19px 0 19px;
  color: #515e61;
}

.icon i:hover{
  color: #9FB4B9;
  transition:.3s;
  cursor: pointer;
}

.consul{
  width: 100%;
  background-color: red;
  float: left;
  height: 250px;
}

.rehab{
  width: 100%;
  background-color: red;
  float: left;
  height: 250px;
}

.prote{
  width: 100%;
  background-color: red;
  float: right;
  height: 250px;
}
.text-consul h2{
  color: #121212;
  font-weight: bold;
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: -1px;
  margin: 20px 0 10px 0;
}

.text-consul p{
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  color: #121212;
  margin: 0 0px 15px 0px;
  text-align: left;
}

.boton-slider{
  padding: 11px 30px;
  border: 2px solid #f7a81b;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 30px 0 0px;
  background-color: #f7a81b;
}

.boton-news{
  padding: 9px 28px;
  border: 2px solid #f7a81b;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 0 30px;
  background-color: #f7a81b;
}
.boton-prox{
  padding: 9px 28px;
  border: 2px solid  #005DAA;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 0 25px;
  background-color:  #005DAA;
}
.info-box .title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 30px 0 0 0;
  float: right;
}
.info-box i {
  display: block;
  height: 100px;
  font-size: 150px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-right: 20px;
  margin-top: 80px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.75);
}
.boton-nosotros{
  padding: 9px 28px;
  border: 2px solid #f7a81b;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 0 35px;
  background-color: #f7a81b;
  margin-left: 0%;
}
.boton-contacts{
  padding: 11px 30px;
  border: 2px solid #17458F;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 20px 0 0 35px;
  background-color: #17458F;
  margin-left: 0%;
}

.boton-consul{
  padding: 11px 30px;
  border: 2px solid #005DAA;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 0 25px;
  background-color: #005DAA;
}
.container-fluidnav {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.login-form {
    max-width: 390px;
    margin: 70px auto 0;
    background: #d5d7de;    
}
}
