@media screen and (min-width: 768px) and (max-width: 1280px){

/*-------- CAROUSEL ---------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.navbar-index {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #17458f;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.blur h2{
  font-weight: lighter;
  font-size: 100px;
  margin: 0;
  color: #fff;
  margin: 6.5% 0 0 24%;
}

.centro-medico h2{
  color: #000;
  font-weight: bolder;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 0.5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.centro-medico p{
  font-size: 17px;
  font-weight: normal;
  line-height: 1.9;
  color: #777;
  margin: 0px 80px 40px 90px;
  text-align: center;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif; 

}  
#logo {
  display: inline-block;
  height: 0px;
  line-height: 120px;
  float: left;
}

#logo img{
  width: 40%;
}
.title{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

header nav {
  display: inline-block;
  float: right; 
}

header nav a {
  line-height: 120px;
  margin-left: 10px;
  margin-right: 0%;
  padding-bottom: 10px;
  text-decoration: none;
  position: relative;
  color: #e6eaf2;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}

header nav a:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 0%;
  color: #F7A81B;
  border-bottom: 2px solid #F7A81B;
  transition: 0.4s;
}

header nav a:hover:after {
  width: 100%;
  color: #F7A81B;
}

header.smaller {
  height: 85px; 
}

header.smaller #logo {
  width: 80%;
  line-height: 70px;
  font-size: 30px; 
}

header.smaller nav a {
  line-height: 85px; 
}

a:focus, a:hover {
  text-decoration:none;
  color: #F7A81B;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; 
}

.carousel-caption{
  margin-bottom:0px;
  text-align: center;
  right: 0%;
  left: 0%;
  padding-bottom: 255px; 
}  

.carousel-caption img{
  width: 50%; 
}  

.carousel-caption h2{
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #fff;  
  text-shadow:none;
  box-shadow: none;
}

.datos-cons{
  width: 100%;
  background-color: transparent;
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
}

.datos-cons h2{
  display: inline-block;
  font-size: 15px;
  color: #919295;
  text-align: left;
  font-weight: normal;
  margin: 0;
}

.datos-cons h2 i{
  
  font-size: 25px;
  color: #919295;
  font-weight: bolder;
  margin-right: 8px;
}

.text-cons p {
  font-size: 17px;
  font-weight: normal;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.3em;
  color: #777;
  margin: 0px 25px 0px 25px;
  text-align: left;
}

.carousel-caption h1{
  font-weight: lighter;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
    
}

/*-------- NOTICIAS RECIENTES---------- */

.recientes{
  width: 70%;
  height: 750px;
  background-color: transparent;
  float: left;
}

.prox{
  width: 30%;
  height: 750px;
  background-color: transparent;
  float: right;
}

/*odd*/
.elemento:nth-child(odd) .text1{
  width: 50%;
  height: 300px;
  background-color: #fff;
  float: left;

}

.elemento:nth-child(odd) .text1 h1{
  margin: 0;
  font-size: 15px;
  padding:  40px 40px 0px 40px;
  font-weight: normal;
  color: #777;
  text-transform: uppercase;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}

.elemento:nth-child(odd) .text1 h2{
  margin: 15px 0 0px 0;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 0px 0 40px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.elemento:nth-child(odd) .text1 p{
  margin: 0;
  color: #777;
  font-size: 15px;
  padding:  10px 40px 0px 40px;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.elemento:nth-child(odd) .img1{
  width: 50%;
  background-color: #fff;
  float: right;
  background-size: cover;
  height: 300px;
}
/*fin odd*/
/*even*/

.elemento:nth-child(even) .text1 h2{
  margin: 15px 0 0px 0;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  padding:  0 0px 0 40px;
  font-weight: bold;
  
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}

.elemento:nth-child(even) .text1 p{
  margin: 0;
  color: #777;
  font-size: 15px;
  padding:  10px 40px 0px 40px;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.elemento:nth-child(even) .text1 h1{
  margin: 0;
  color: #777;
  font-size: 15px;
  padding:  40px 50px 0px 40px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.elemento:nth-child(even) .img1{
  width: 50%;
  height: 300px;
  background-color: transparent;
  float: left;
}
.elemento:nth-child(even) .img1 img{
  background-size: cover;
  width: 100%;
}

.elemento:nth-child(even) .text1{
  width: 50%;
  height: 300px;
  background-color: #f2edea;
  float: right;
}
/*fin even*/

/*-------- PROXIMAS NOTICIAS---------- */

.titulo-prox{
  height: 100px;
  background-color: #17458f;
}

.cont-prox-1{
  height: 216.6px;
  background-color: #fff;
  border-bottom: 1px solid #f2edea;
}


.cont-prox-2{
  height: 216.6px;
  background-color: #fff;
  border-bottom: 1px solid #f2edea;
}

.cont-prox-3{
  height: 216.6px;
  background-color:  #fff;
}

.titulo-prox h2{
  margin: 0;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2em;
  font-weight: bolder;
  padding:  40px 35px 0 35px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cont-prox-1 h2{
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.cont-prox-1 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cont-prox-1 hr{
  width: 100%;
  height: 2px;
  background-color: transparent;
  margin:  0px 35px 0px 35px;
  
}

.cont-prox-1 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cont-prox-2 h2{
  margin: 0;
  font-size: 18px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;
}

.cont-prox-2 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.cont-prox-2 hr{
  width: 100%;
  height: 2px;
  background-color: transparent;
  margin:  0px 35px 0px 35px;
}

.cont-prox-2 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
}

.cont-prox-3 h2{
  margin: 0;
  font-size: 18px;
  color: #121212;
  font-weight: bold;
  text-transform: uppercase;
  padding:  0 35px 0 25px;
}

.cont-prox-3 p{
  margin: 0;
  font-size: 13px;
  padding:  10px 35px 0px 25px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
}

.cont-prox-3 hr{
  width: 100%;
  height: 2px;
  background-color: transparent;
  margin:  0px 35px 0px 35px;  
}

.cont-prox-3 h1{
  margin: 0;
  font-size: 12px;
  padding:  30px 35px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
}
/*----- CENTRO MEDICO --------*/

.padding-med{
  padding: 5px;
}

/*-------- FOOTER ---------- */

.consul{
  width: 100%;
  background-color: transparent;
  float: left;
  height: 250px;
}

.rehab{
  width: 100%;
  background-color: transparent;
  float: left;
  height: 250px;
}

.prote{
  width: 100%;
  background-color: transparent;
  float: right;
  height: 250px;
}
.text-consul h2{
  color: #000;
  font-weight: bold;
  text-align: left;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 20px 0 10px 0;
}

.text-consul p{
  font-size: 15px;
  font-weight: normal;
  line-height: 1.9;
  color: #777;
  margin: 0 0px 15px 0px;
  text-align: left;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif; 
}


.boton-news{
  padding: 9px 28px;
  border: 2px solid #F7A81B;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 0 30px;
  background-color: #F7A81B;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;

}
.boton-news:hover{
  background-color: #FF7600;
  color: #fff;
  border: 2px solid #FF7600;
  transition: .5s all ease;
}

.boton-prox{
  padding: 9px 28px;
  border: 2px solid  #17458F;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0 0 25px;
  background-color:  #17458F;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
.boton-prox:hover{
  background-color: #005DAA;
  color: #fff;
  border: 2px solid #005DAA;
  transition: .5s all ease;
  
}



.boton-contacts{
  padding: 11px 30px;
  border: 2px solid #17458F;
  color: #fff;
  font-size: 13px;
  margin: 0px 0 0 0px;
  float: left;
  background-color: #17458F;
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
.boton-contacts:hover{
  background-color: #005DAA;
  color: #fff;
  border: 2px solid #005DAA;
  transition: .5s all ease;
  
}
.boton-rotary{
  padding: 11px 30px;
  border: 2px solid #17458F;
  color: #fff;
  font-size: 13px;
  margin: 30px 0 0 10px;
  float: left;
  background-color: #17458F;
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}

.boton-consul{
  padding: 11px 30px;
  border: 2px solid #17458F;
  color: #fff;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0 0 25px;
  background-color: #17458F;
}

.boton-consul:hover{
  background-color: #005DAA;
  color: #fff;
  border: 2px solid #005DAA;
  transition: .5s all ease;
  
}
.container-fluidnav {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.login-form {
    max-width: 390px;
    margin: 70px auto 0;
    background: #d5d7de;    
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 2px 10px 2px;
    color: #000;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #17458F;
    font-weight: 400;
    border-radius: 3px;
    transition: .3s all ease;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #17458F;
    font-weight: 600;
    border-radius: 3px;
    transition: .3s all ease;
}
.navbar-brand .logo-lg{
  width: 30%;
  margin-top: -6px;
}

.navbar-brand {
    float: left;
    height: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    margin-bottom: 0px;
}
.container-arre {
    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
#rotary{
  width: 100%;
  height: 450px;
  background-color: transparent;
  border-bottom: 1px solid #E7E7E8;
}


.slider-rot{
  width: 50%;
  height: 100%;
  background-color: transparent;
  float: left;

}



.content-rot{
  width: 50%;
  height: 100%;
  background-color: transparent;
  float: right;
}
.direccion-form h2 i{
  color: #BCBDC0;
  font-size: 35px;
  
}

.direccion-form h2{
  color: #919295;
  text-transform: uppercase;
  margin: 15px 0 15px 0;
  font-size: 15px; 
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.direccion-form{
  margin: 25px 0 0 0;
  background-color: #fff;
  padding: 0px;
  border-radius: 5px;
}

.direccion-form i{
  margin: 0 10px 0 0px;
}
.content-slider{
  background-color: transparent;
  padding: 50px;
  background: url(../img/r5.jpg);
  
  background-size: cover;   
  
  transition-property: background-position;
  width: 80%;
  height: 310px;
  margin:60px 25px 25px 45px;
}

.titulo-direccion h2{
  color: #000;
  text-transform: uppercase;
  margin: 80px 0 70px 0;
  font-size: 50px; 
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

.titulo-direccion p{
  color: #919295;

  font-size: 16px; 
  font-weight: normal;
  font-family: Montserrat,"Helvetia Neue",Helvetica,Arial,sans-serif;
  
}
.overlay-top h2{
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 2.0em;
  margin: 170px 0 0 0;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
}
.timeline > li > .timeline-badge {
  width: 10px;
  height: 10px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 55px;
  left: 52.1%;
  margin-left: -25px;
  background-color: #005DAA;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.text-rotary h2{
  color: #000;
  text-transform: uppercase;
  margin: 65px 10px 0px 10px;
  font-size: 40px; 
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.text-rotary p{
  color: #777;
  margin: 30px 30px 0px 10px;
  font-size: 17px; 
  font-weight: normal;
  line-height: 1.9;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif; 
}
}
