/*////// INDEX ////////*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300);
html{
  height: 100%;
  width: 100%;
}

body{
	height: 100%;
  width: 100%;
	position: relative;
	overflow-x:hidden;
}
/*-------- PRUEBA NAV---------- */
.navbar-default {
    background-color: #E7E7E8;
    border-color: #e7e7e7;
}
#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.banner-img img{
  float: left;
  width: 35%;
  margin: 15px 0 15px 0;
}
/*-------- INICIO---------- */

#inicio	{
	width: 100%;
	height: 100%;
  color:#000;
}

.carousel,
.item,
.active {
  height: 100%;
}

#inicio .carousel-inner {
  height: 100%;
  background-size: cover; 
  
  
  
}

.overlay-slider{
  background-color: rgba(0,0,0,.1);
  width: 100%;
  height: 100%;
  position: absolute;
}

#inicio .fill {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;    
}


/*-------- NAV ---------- */


/*-------- SOMOS ROTARY---------- */

#somos h2{
  color: #000;
  font-weight: bolder;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 0.5px;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#somos{
  padding: 50px 0 0px 0;
  border-top: 1px solid #cacaca;
   border-bottom: 1px solid #cacaca;
  
}

#somos p{
  font-size: 17px;
  font-weight: normal;
  line-height: 1.9;
  color: #777;
  margin: 0px 90px 70px 90px;
  text-align: center;
   font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#somos:after {
  content:url(../img/arrow.png);
  position: relative;
  text-align: center;
  bottom: -25px;
  left: 48.5%;
}

/*-------- NOSOTROS ---------- */

#nosotros{
  background-color: #f0f0f0;
}

#nosotros h2{
  color: #000;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1.8em;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#nosotros p{
  
  font-weight: normal;
  
  color: #777;
  font-size: 15px;
    line-height: 1.75;
  margin: 0 0px 5px 0px;
  text-align: center;
  font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#nosotros img{
  width: 20%;
}

#nosotros{
  padding: 100px 0 100px 0;
}

/*----- NOTICIAS--------*/

.img1 img{
  background-size: cover;
  width: 100%;
}

.text2 img{
  background-size: cover;
  width: 100%;
}

/*----- CENTRO MEDICO --------*/

.centro-medico{
  background-color:  #F6F6F7;
  position: relative;
  padding: 60px 0 60px 0;
}

.centro-medico img{
  background-size: cover;
  width: 100%;
}


/*-------- GOOGLE MAPS ---------- */

#gmap {
  position:relative;
  height: 250px;
  width: 100%;
}

.text-footer{
  float: right;
  width: 33.3%;
  
}

.text-footer h2{
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 15px;
 letter-spacing: 1px;
 font-weight: normal;
 float: right;
 padding: 30px 0 30px 0;
 color: #BCBDC0;
 margin: 0;
 text-transform: uppercase;
}
.iconos{
  float: left;
  width: 33.3%;
  display: inline-block;
}

.text-center-foot{
  width: 33.33%;
  float: left;
}
.text-center-foot h2{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 15px;
 letter-spacing: 1px;
 font-weight: normal;
 text-align: center;
 padding: 30px 0 30px 0;
 color: #BCBDC0;
 margin: 0;
 text-transform: uppercase;
}
.iconos a i{
  display: inline-block;
  font-size: 40px;
  font-weight: bol;
  padding: 20px 0 15px 0;
  margin:0 15px 0 0;
}
.iconos a{
  color: #919295;
}

.iconos a:hover{
  color: #E7E7E8;
  transition: .3s all ease;
}

#footer{
  width: 100%;
  background-color: #0a0a0a;
}
.gm-style-iw {
  width: 350px !important;
  top: 15px !important;
  left: 0px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid #1d4780;
  border-radius: 0px;

}
#iw-container {
  margin-bottom: 0px;
}

#iw-container .iw-title {
  text-align: center;
  font-size: 25px;
  padding: 10px;
  background-color: #1d4780;
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
  font-family: 'Oswald',sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#iw-container .iw-content {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 5px 5px 0px 15px;
  min-height: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  line-height: 1.5em;
}

.iw-content img {
  float: right;
  margin: 0 5px 5px 10px; 
  background-size: cover;
}

.iw-subTitle {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.lugar-icon:before{
  font-family: FontAwesome;
   content: "\f041";
   margin-right: 5px;
   font-weight: bold;
}



.form-wall{
  width: 100%;
  height: 450px;
  background-color: transparent;
  margin: 0px 0 50px 0;

}

textarea:focus { outline: none; box-shadow: none; }


#contact-form .form-control {
    display: block;
    margin-bottom:20px;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6f6f7;
    background-image: none;
    border: 1px solid #E7E7E8;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact-form{
  padding: 20px;
  margin: 50px 0 0 0;
}
#contact-form ::-webkit-input-placeholder {
   font-size: 15px; 
  font-weight: bold;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #BCBDC0;
  text-transform: uppercase;
}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #E7E7E8;
}


.carousel-control .icon-prev:before {
    
    content: url(../img/arrowleft.png);
    
}

.carousel-control .icon-next:before {
    content: url(../img/arrowright.png);
}

.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 1;
}
.carousel .carousel-control { visibility: hidden; transition:visibility 5s;}
.carousel:hover .carousel-control { visibility: visible; }
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    filter: none;
    opacity: .5;
}

.carousel-control.left {
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 20px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 20px;
}